openapi: 3.2.0
info:
  title: Phoslabs Io Pricing API
  version: 1.0.0
  contact:
    url: https://phoslabs.io
  description: 'Operations tagged Pricing across 2 of this provider''s published API definitions: phoslabs-io-openapi.json, phoslabs-io-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://phoslabs.io
  description: Production
security:
- BearerAuth: []
tags:
- name: Pricing
paths:
  /api/v1/pricing:
    post:
      summary: Pricing optimization
      description: Optimize pricing strategy using anchoring, decoy effects, and behavioral economics. 25 credits.
      operationId: pricing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: string
                  description: Product or service to optimize pricing for
                context:
                  type: string
                persona:
                  type: string
              required:
              - product
      responses:
        '200':
          description: Pricing strategy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
      tags:
      - Pricing
    servers:
    - url: https://phoslabs.io
      description: Production
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          type: object
          description: Tool-specific result
        credits_remaining:
          type:
          - integer
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from /api/trial or purchased at /credits
x-refined-from:
- phoslabs-io-openapi.json
- phoslabs-io-openapi.yml
