openapi: 3.2.0
info:
  title: Behavioral Science Diagnose API
  description: Apply behavioral science to products, funnels, copy, and pricing. Credit-based billing.
  version: 1.0.0
  contact:
    url: https://phoslabs.io
servers:
- url: https://phoslabs.io
  description: Production
security:
- BearerAuth: []
tags:
- name: Diagnose
paths:
  /api/v1/diagnose:
    post:
      summary: Diagnose funnel dropoff
      description: Identify behavioral reasons for funnel dropoff. 10 credits.
      operationId: diagnose
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                funnel_description:
                  type: string
                  description: Description of the funnel or journey
                data:
                  type: object
                  description: Optional analytics data
                industry:
                  type: string
              required:
              - funnel_description
      responses:
        '200':
          description: Diagnosis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
      tags:
      - Diagnose
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          type: object
          description: Tool-specific result
        credits_remaining:
          type:
          - integer
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from /api/trial or purchased at /credits
