openapi: 3.2.0
info:
  title: Behavioral Science Fix Checkout API
  description: Apply behavioral science to products, funnels, copy, and pricing. Credit-based billing.
  version: 1.0.0
  contact:
    url: https://phoslabs.io
servers:
- url: https://phoslabs.io
  description: Production
security:
- BearerAuth: []
tags:
- name: Fix Checkout
paths:
  /api/v1/fix-checkout:
    post:
      summary: Redesign checkout flow
      description: Behavioral science redesign of a checkout or decision flow. 30 credits.
      operationId: fixCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                checkout_flow:
                  type: string
                  description: Current checkout flow description
              required:
              - checkout_flow
      responses:
        '200':
          description: Redesigned flow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
      tags:
      - Fix Checkout
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          type: object
          description: Tool-specific result
        credits_remaining:
          type:
          - integer
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from /api/trial or purchased at /credits
