openapi: 3.2.0
info:
  title: Phoslabs Io Detect Biases API
  version: 1.0.0
  contact:
    url: https://phoslabs.io
  description: 'Operations tagged Detect Biases across 2 of this provider''s published API definitions: phoslabs-io-openapi.json, phoslabs-io-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://phoslabs.io
  description: Production
security:
- BearerAuth: []
tags:
- name: Detect Biases
paths:
  /api/v1/detect-biases:
    post:
      summary: Detect cognitive biases
      description: Identify cognitive biases in decision text or recommendations. 8 credits.
      operationId: detectBiases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Text to analyze for biases
              required:
              - text
      responses:
        '200':
          description: Detected biases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
      tags:
      - Detect Biases
    servers:
    - url: https://phoslabs.io
      description: Production
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          type: object
          description: Tool-specific result
        credits_remaining:
          type:
          - integer
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from /api/trial or purchased at /credits
x-refined-from:
- phoslabs-io-openapi.json
- phoslabs-io-openapi.yml
