openapi: 3.2.0
info:
  title: Behavioral Science Copy API
  description: Apply behavioral science to products, funnels, copy, and pricing. Credit-based billing.
  version: 1.0.0
  contact:
    url: https://phoslabs.io
servers:
- url: https://phoslabs.io
  description: Production
security:
- BearerAuth: []
tags:
- name: Copy
paths:
  /api/v1/copy:
    post:
      summary: Behavioral copywriting
      description: Rewrite copy using social proof, scarcity, framing, and other behavioral principles. 20 credits.
      operationId: copy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                draft:
                  type: string
                  description: Draft copy to rewrite
                goal:
                  type: string
                  description: Goal of the copy (e.g. increase signups)
              required:
              - draft
              - goal
      responses:
        '200':
          description: Rewritten copy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
      tags:
      - Copy
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          type: object
          description: Tool-specific result
        credits_remaining:
          type:
          - integer
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key from /api/trial or purchased at /credits
